*{  font-family: Roboto Mono;
    box-sizing: border-box;
}
table {
width: 100%;
border: 1px solid red;
border-collapse: collapse;
}
th, td {
    border: 1px solid red;
    text-align: left;
    padding: 10px;
    font-weight: normal;
}
td {
    height: 50px;
}
tr {
    background-color: bisque;
}

.naglowek {
    background-color: rgb(82, 16, 21);
    color: white;
}
caption {
    border-top: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
    padding: 10px;
    font-size: 18px;
    background-image: url('../img/mapa.png');
    height: 100px;
}
tbody > tr:nth-child(odd) {
    background-color: rgb(140, 173, 173);
}
tbody > tr:hover
{
    background-color: rgb(173, 127, 127);
    font-size: 18px;
    font-weight: bold;
}
th.m {
    width: 150px;
}
th.st {
    width: 50px;
}
td:nth-last-child(1) {
    background-color: red;
}
tr:hover > td:nth-last-child(1)
{
    background-color: rgb(173, 127, 127);

}
h1 {
    font-family: Roboto Mono;
}
.zajawki {
    display: flex;
    flex-wrap: wrap;
}
.zajawka {
    background-image: url(../img/mapa.png);
    width: 300px;
    height: 200px;
    position: relative;
    background-repeat-x: no-repeat;
    width: 100%px;
    background-size: 100% auto;
    background-repeat-y: no-repeat;
    background-position: center;
    margin: 20px;
}
.zajawka__koty{
    background-image: url(../img/1.jpg);
    background-repeat-x: no-repeat;
    width: 100%px;
    background-size: 100% auto;
    background-repeat-y: no-repeat;
    background-position: center;
    margin: 20px;
}
.zajawka--nadtytul {
    background-color: rgb(139, 23, 23);
    color: white;
    padding: 10px;
    width: 39%;
    position:absolute

}
.zajawka--tytul {
font-size: 16pt;
font-weight: bold;
color: black;
text-decoration: none;
position:absolute;
top: 131px;
left: 5px;
}

.zajawka--tytul__odmiana {
    color: rgb(255, 0, 0);
    }

.zajawka--tytul:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
    }
.zajawka--lead {
    font-size: 12pt;
    font-weight: normal;
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    position:absolute;
    bottom: 2px;
    left: 2px;
    margin: 0px;
}
