* {box-sizing: border-box;}
body {
    background-image: url(../img/ksi.jpg);
}

.container {
    display: grid;
    grid-template-columns: [lewa1] repeat(4, 1fr) [prawa];
    grid-template-rows:    [w0] repeat(4, 1fr) [w7];
}
h1 {
    color: white;
    position: relative;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    font-size: 56px;
    text-align: center;

}
input { 
    position: relative;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    font-size: 15px;
    text-align: unset;
    border-radius: 10%;
    height: 40px;
    padding: 10px;
    margin: 10px;
}
a {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    text-decoration: none;
    background-color: black;
}

.container2 {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: [lewa2] repeat(4, 1fr) [prawa2];
    grid-template-rows:    [w1] repeat(2, 1fr) [w2];
}