* {box-sizing: border-box;}
body {
    background-image: url(../img/ksi.jpg);
}

.container {
    display: grid;
    grid-template-columns: [lewa1] repeat(4, 1fr) [prawa];
    grid-template-rows:    [w0] repeat(4, 1fr) [w7];
}
h1 {
    color: white;
    position: relative;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    font-size: 56px;
    text-align: center;

}
input { 
    position: relative;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    font-size: 15px;
    text-align: unset;
    border-radius: 10%;
    height: 40px;
    padding: 10px;
    margin: 10px;
}

.container2 {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.container2--pole1_obraz {
    background-image: url(../img/cacek.jpg);
    position: relative;
    background-repeat-x: no-repeat;
    background-size: 100% auto;
    background-repeat-y: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    grid-column: 2 /3;
    grid-row: 4 / 5;
    display: inline-block;
    
}
a {
    position: absolute;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    text-decoration: none;
    
}