* {border-collapse: collapse;}
body { background-color: rgb(73, 65, 65);}
h2 {
    color: bisque;
}
.message {
    background-color: rgb(73, 65, 65);
    width: 650px; 
    border:  1px solid bisque;
    border-radius: 5%;
}
.message--1wiersz {
    display: flex;
    flex-wrap: nowrap;
    height: 65px;
}
.message--1wiersz img {
    flex: 1 1 0px;
    padding: 10px;
    margin: 10px;

}
.message--1wiersz div {
    flex: 1 1 10px;
    margin-left: 10px;
    padding: 10px; }

.message--2wiersz { 
    display: flex;
    flex-wrap: nowrap;
}
.message--2wiersz__text {
    flex: 1 1 25px;
    background-color: rgb(73, 65, 65);
    color: antiquewhite;
    font-size: 20px;
    padding: 10px;
    /*min-width: 300px;
    max-width: 300px;
    min-height: 80px;
    max-height: 80px*/
    resize: none;
    outline-style:none;
    border: none;
}
.message--3wiersz {
    display: flex;
    flex-wrap: nowrap;
    height: 65px;

    
}
.message--3wiersz img {
    flex: 1 1 0px;
    padding: 10px;
    margin: 10px;
}

.message--3wiersz div {
    flex: 1 1 10px;
    margin-left: 0px;
    padding: 0px; 
}
.message--1wiersz img:hover {
    cursor: pointer;
    border: 1px solid rgb(190, 190, 162);
    background-color: rgb(190, 190, 162);
    border-radius: 5%;

}
.message--3wiersz img:hover {
    cursor: pointer;
    border: 1px solid rgb(190, 190, 162);
    background-color: rgb(190, 190, 162);
    border-radius: 5%;
}
