table {
    border-collapse: collapse;
    width: 600px;
    background-color: black;
    color: white;
    text-align: left;
    padding: 10px;
}
caption {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 14px;
    padding-top: 20px;
}
td {
    padding: 10px;
}
tr {
    padding: 10px;
}
tr > td:hover {
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
}


.tabelka {
    width: 600px;
}
*{
    box-sizing: border-box;
}
.container {
    display: flex;
    background-color: black;
    color: white;
    flex-wrap: nowrap;
  }
  .container div {
    flex: 1 0 50px;
    margin: 10px;
    padding: 10px;
    position: relative;
  }

table {
    border-collapse: collapse;
}
  [id="1"] {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
.kropka
{
    width: 5px;
    height: 5px;
    background-color: magenta;
    position: absolute;
    margin: 0px;
   
}
.kropka2
{
    width: 5px;
    height: 5px;
    background-color: magenta;
    position: absolute;
    margin: 0px;
}
.kropka3
{
    width: 5px;
    height: 5px;
    background-color: magenta;
    position: absolute;
}
.kolko
{   display: block;
    position: absolute;
    border-radius: 50%;
    background-color:red;
    margin: 0px;
    width: 5px;
    
}
