table {
    border-collapse: collapse;
    width: 600px;
    background-color: black;
    color: white;
    text-align: left;
    padding: 10px;
}
caption {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 14px;
    padding-top: 20px;
}
td {
    padding: 10px;
}
tr {
    padding: 10px;
}
tr > td:hover {
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
}
*{
    box-sizing: border-box;
}