.maingrid {
    display: grid;
    grid-template-columns: [lewa1] repeat(7, 1fr) [prawa];
    grid-template-rows:    [w0] repeat(6, 1fr) [w7];
}
[id="1"] {
    grid-column: lewa1 / prawa;
    grid-row: w0/ 1;
}
.th {
    display: grid;
    grid-template-columns: [lewa1] repeat(7, 1fr) [prawa];
    grid-template-rows:    [w0] repeat(6, 1fr) [w7];
}
.wazny {
 order: -1;
}

.Sa {
    grid-column: 6 / 7;
    grid-row: 7 / 8;
}