* {
  box-sizing: border-box;
}
.nadrzedny {
  border: 1px solid red;
  border-collapse: collapse;
  margin: 0px;
  width: 100%;
}
.wiersz1 {
  background-color: bisque;
  border-bottom: 1px solid black;
}
.wiersz2 {
  background-color: darksalmon;
  border-bottom: 1px solid black;
}
.w2 {
    display: inline-block;
    width: 49%;
}
.wiersz3 {
    background-color: hotpink;
}
.w3 {
    display: inline-block;
    width: 32%;
}