/* w arkuszu styli piszemy selektory*/

/* nazwa znacznika i zmiana właściwości tego znacznika */
body {
  background-color: darkgray;
}

h2 {
  background-color: crimson;
}

/* stylowanie po id */
[id="proz"] {
  background-color: palevioletred;
}
/* to samo co wyżej inaczej zapisane */
/* #proz{
    background-color: palevioletred;
} */

/* textarea z name komentarz będzie mieć daną właściwość */
/* textarea[name="komentarz"]{
    background-color: rgb(255, 127, 0);
} */

/* textarea będące w form i gdy jest spacja pomiędzy nimi
 to może je łączyć dowolna relacja */
/* form textarea[name="komentarz"]{
    background-color: rgb(255, 127, 0);
} */

/* tutaj textarea musi być dzieckiem form */
form > textarea[name="komentarz"] {
  background-color: rgb(255, 127, 0);
}

/* przelądarka analizuje dokument od prawej strony do lewej 
najpierw szuka textarea a potem p i gdy nie znajdzie żadnego
textarea w p to przerywa wyszukiwanie
*/
form > p > textarea[name="komentarz"] {
  background-color: rgb(95, 157, 198);
}

/* stylowanie za pomocą klas */
table[class="tab1"] {
  background-color: greenyellow;
}

table[class="tab2"] {
  background-color: bisque;
}

/* wszystkie elementy th tabeli o klasie tab1 mają mieć
podkład żółty */
table[class="tab1"] th {
  background-color: yellow;
}

table[class="tab2"] th {
  background-color: orange;
}

/* inny częściej spotykany format zapisu stylowania po
klasach 
.tab1 th {
  background-color: yellow;
}
*/

/* definiowanie szerokości obrazków w dokumencie */
img {
  width: 25%;
}
/* em odowłuje się do rodzica, a rem do korzeni */

.pobrazki {
  margin: 0;
}

.czerw {
  color: red;
  font-weight: bold
}
.ziel {
  color: green;
}

/* gwiazdka oznacza wszytskim elementom, a ten box-sizing:border-box
  daje nam możliwośc modyfikacji borderów i panddingów bez martwienia
  się o to że coś nam wyjedzie poza body (pojawi się taki suwak na dole */
* {
  box-sizing: border-box;
}

/* każdy element w dokumencie ma model pudełkowy czyli margin border i padding
 */